<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6u2O-2H4TC7GD__EcW6fNsjQWwdztgE0</string>
	<key>GCM_SENDER_ID</key>
	<string>508968394429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UC-IMT.ALP-Cinea</string>
	<key>PROJECT_ID</key>
	<string>alp-cinea</string>
	<key>STORAGE_BUCKET</key>
	<string>alp-cinea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508968394429:ios:f8181e193df54c7fa1a1d4</string>
</dict>
</plist>